<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="configservice_address" value="192.168.129.11:1888/WcfConfigService.svc" />
    <add key="logservice_address" value="192.168.129.12:1889/WcfLogService.svc" />
    <add key="redis_address" value="192.168.129.175" />
    <add key="redis_message_client_channel" value="WcfConfigClientChange" />
    <add key="redis_message_service_channel" value="WcfConfigServiceChange" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <unity configSource="unity.config" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>